@model AdminVivienda2.DAL.Tbl_Usuarios
<h3 class="header">@ViewBag.Title</h3>
<hr />
<div class="row">
    @*<div class="input-field col s6 m4 l4">
        <label for="txtusuario">Usuario <span>*</span>:</label>
        <input type="text" id="txtusuario" class="valida" maxlength="100" value="@Model.Usuario">
    </div>*@
    <div class="input-field col s6 m4 l4">
        <label for="txtnombre">Nombre <span>*</span>:</label>
        <input type="text" id="txtnombre" class="valida" maxlength="5" value="@Model.Nombre">
    </div>
    
    <div class="input-field col s6 m4 l4">
        <label for="txtpat">Apellido Paterno <span>*</span>:</label>
        <input type="text" id="txtpat" class="valida" maxlength="50" value="@Model.ApPaterno">
    </div>
    <div class="input-field col s6 m4 l4">
        <label for="txtapmat">Apellido Materno <span>*</span>:</label>
        <input type="text" id="txtapmat" class="valida" maxlength="50" value="@Model.ApMaterno">
    </div>
    <div class="input-field col s6 m4 l4">
        <label for="txtemail">Correo Electrónico <span>*</span>:</label>
        <input type="email" id="txtemail" maxlength="100" class="valida" value="@Model.Correo">
    </div>
    @if (ViewBag.Accion == "Actualizar")
    {
        <div class="col s6 m6 l6">
            <label>Estatus:</label>
            <div class="switch">
                <label>
                    Inactivo
                    @if (Model.Activo)
                    {
                        <input type="checkbox" id="chkActivo" checked="">
                    }
                    else
                    {
                        <input type="checkbox" id="chkActivo">
                    }
                    <span class="lever"></span>
                    Activo
                </label>
            </div>
        </div>
    }
</div>
<hr />

<div class="row">
    <p><small class="form-text text-muted">* Campos Obligatorios.</small></p>
    <div class="col s6 m6 l6" align="left">

        <a href="@Url.Action("Index")" class="waves-effect waves-light btn red"><i class="material-icons left">keyboard_return</i>Regresar</a>
    </div>
    <div class="col s6 m6 l6" align="right">
        @if (ViewBag.Accion == "Actualizar")
        {
            <button id="btnActualizar" type="button" class="waves-effect waves-light btn"><i class="material-icons left">autorenew</i>Actualizar</button>
        }
        else
        {

            <button id="btnGuardar" type="button" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Guardar</button>


        }
    </div>
</div>
@section scripts{
    <script>
            var _accion = '@ViewBag.Accion'
        $('#btnGuardar').click(function () {
             var respuestaRevisa = RevisaInputValida();
            if (respuestaRevisa) {
                return;
            }
                var modelo = ObtenerModelo();
                FncExeAjax('@Url.Action("Create")', modelo, "POST", false, FncLimpiar);
        });
        function FncLimpiar(respuesta) {
            if (respuesta.ejecucion) {
                $('#txtcondominio').val("");
            }
            MsnShow(respuesta);
        }
        function fncCamposRequeridos() {
            var campos = false;
            if ($('#txtcondominio').val() == "") {
                $('#divCondominio').addClass("has-danger");
                var input = $('#divCondominio').find(".form-control");
                $(input[0]).addClass("is-invalid");
                var label = $('#divCondominio').find(".invalid-feedback");
                $(label).show();
                campos = true;
            }
            else {
                $('#divCondominio').removeClass("has-danger");
                var input = $('#divCondominio').find(".form-control");
                $(input[0]).removeClass("is-invalid");
                var label = $('#divCondominio').find(".invalid-feedback");
                $(label).hide();
            }
            return campos;
        }
        $('#btnActualizar').click(function () {
            var respuestaRevisa = RevisaInputValida();
            if (respuestaRevisa) {
                return;
            }
                var modelo = ObtenerModelo();
                FncExeAjax('@Url.Action("Edit")', modelo, "POST", false, MsnShow);
            });
            function ObtenerModelo() {
                var modelo = new Object();
                if (_accion == 'Actualizar') {
                    modelo.Activo = $('#chkActivo').is(":checked") ? 1 : 0;
                    modelo.Id_Usuario = @Model.Id_Usuario;
                }
                modelo.Usuario = $('#txtusuario').val();
                modelo.Nombre = $('#txtnombre').val();
                modelo.ApPaterno = $('#txtpat').val();
                modelo.ApMaterno = $('#txtmat').val();
                modelo.Correo = $('#txtemail').val();
                return modelo;
        }
        $(document).ready(function () {
            
            M.updateTextFields();
        });

    </script>
}