@model  AdminVivienda2.Models.Nivel1Campo2Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
}
<h3 class="header">@Model.tituloIndex</h3>
<hr />
<div class="row">
    <div class="input-field col s3 m3 l3">
        <label for="txtcampo">Buscar @Model.campo1:</label>
        <input maxlength="@Model.maxValue" type="text" id="txtcampo">
    </div>
    <div class="input-field col s3 m3 l3">
        <label for="txtcampo">Buscar @Model.campo2:</label>
        <input maxlength="@Model.maxValue2" type="text" id="txtcampo2">
    </div>
    <div class="input-field col s3 m3 l3">
        <select id="ddlActivo">
            <option selected="" value="-1">Todos</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
        <label>@Model.estatus:</label>
    </div>
    <div class="col s3 m3 l3">
        <div class="row">
            <div class="col s9">
                <button type="button" class="btn-info waves-effect waves-light btn tooltipped" data-position="top" data-tooltip="Buscar"><i class="material-icons left">search</i>Buscar</button>
            </div>
            <div class="col s3">
                <a href="@Url.Action("Create")" class="btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Agregar"><i class="material-icons left">add</i></a>
            </div>
        </div>

    </div>
</div>
<hr />
<div id="divTableNivel1">

</div>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var _urlGrid = '@Url.Action("Grid")';
        $(document).ready(function () {
            EjecutaAjaxBusqueda();
            $('select').formSelect();
            $('.tooltipped').tooltip();
        });
        $(".btn-info").click(function () {
            EjecutaAjaxBusqueda();
        });
        function EjecutaAjaxBusqueda() {
            var modelo = new Object();
            modelo.campo = $('#txtcampo').val();
             modelo.campo2 = $('#txtcampo2').val();
            modelo.Activo = $('#ddlActivo').val();
            FncExeAjax(_urlGrid, modelo, "POST", false, FncGrid);
        }
        function FncGrid(datos) {
            $('#divTableNivel1').html(datos);

        }
    </script>
}