@model AdminVivienda.DAL.CAT_CONDOMINIO
<h3 class="header">@ViewBag.Title</h3>
<hr />
<div class="row">
    <div class="input-field col s6 m6 l6">

        <label for="txtcondominio">Condominio *:</label>
        <input type="text" id="txtcondominio" maxlength="100" value="@Model.Condominio">
        <div style="display:none" class="invalid-feedback">Campo Requerido</div>

    </div>
    @if (ViewBag.Accion == "Actualizar")
    {
        <div class="col s6 m6 l6">
            <label>Estatus:</label>
            <div class="switch">
                <label>
                    Inactivo
                    <input type="checkbox">

                    @if (Model.Activo)
                    {
                        <input type="checkbox" id="chkActivo" checked="">
                    }
                    else
                    {
                        <input type="checkbox" id="chkActivo">
                    }
                    <span class="lever"></span>
                    Activo
                </label>
            </div>
        </div>
    }
</div>
<hr />

<div class="row">
    <p><small class="form-text text-muted">* Campos Obligatorios.</small></p>
    <div class="col s6 m6 l6" align="left">

        <a href="@Url.Action("Index")" class="waves-effect waves-light btn red"><i class="material-icons left">keyboard_return</i>Regresar</a>
    </div>
    <div class="col s6 m6 l6" align="right">
        @if (ViewBag.Accion == "Actualizar")
        {
            <button id="btnActualizar" type="button" class="waves-effect waves-light btn"><i class="material-icons left">autorenew</i>Actualizar</button>
        }
        else
        {

            <button id="btnGuardar" type="button" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Guardar</button>


        }
    </div>
</div>
@section scripts{
    <script>
            var _accion = '@ViewBag.Accion'
        $('#btnGuardar').click(function () {
                 if (fncCamposRequeridos()) {
                return;
            }
                var modelo = ObtenerModelo();
                FncExeAjax('@Url.Action("Create")', modelo, "POST", false, FncLimpiar);
        });
        function FncLimpiar(respuesta) {
            if (respuesta.ejecucion) {
                $('#txtcondominio').val("");
            }
            MsnShow(respuesta);
        }
        function fncCamposRequeridos() {
            var campos = false;
            if ($('#txtcondominio').val() == "") {
                $('#divCondominio').addClass("has-danger");
                var input = $('#divCondominio').find(".form-control");
                $(input[0]).addClass("is-invalid");
                var label = $('#divCondominio').find(".invalid-feedback");
                $(label).show();
                campos = true;
            }
            else {
                $('#divCondominio').removeClass("has-danger");
                var input = $('#divCondominio').find(".form-control");
                $(input[0]).removeClass("is-invalid");
                var label = $('#divCondominio').find(".invalid-feedback");
                $(label).hide();
            }
            return campos;
        }
        $('#btnActualizar').click(function () {
            if (fncCamposRequeridos()) {
                return;
            }
                var modelo = ObtenerModelo();
                FncExeAjax('@Url.Action("Edit")', modelo, "POST", false, MsnShow);
            });
            function ObtenerModelo() {
                var modelo = new Object();
                if (_accion == 'Actualizar') {
                    modelo.Activo = $('#chkActivo').is(":checked") ? 1 : 0;
                    modelo.Id_Condominio = @Model.Id_Condominio;
                }
                modelo.Condominio = $('#txtcondominio').val();
                return modelo;
        }
        $(document).ready(function () {
            $('select').formSelect();
            M.updateTextFields();
        });
    </script>
}
